version: '3.9'

services:
  backend:
    build: ./backend
    container_name: stock-backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
    restart: always

  frontend:
    build: ./stock-dashboard
    container_name: stock-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: always
